.profile-container {
    display: flex;
    align-items: center;

    &__icon {
        width: 5.5rem;
        height: 5.5rem;
        border-radius:50%
    }

    &__info {
        margin-left: 1.5rem;
    }

    &__name {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--title);
    }

    &__level {
        font-size: 1rem;
        margin-top: 0.5rem;

        img {
            margin-right: 0.5rem;
        }
    }
}

